<div class="container">
  <h2 class="heading">Bài Viết Nổi Bật</h2>
  <div class="post-list">
    <% postFeature.forEach(function(post) { %>
    <div class="post-item">
      <a href="#" class="post-media">
        <img src="<%= post.image %>" alt="" class="post-image" />
      </a>
      <a href="#" class="post-category"><%= post.categoryId.name %></a>
      <h3>
        <a href="/postDetails/<%=post.id%>" class="post-title"
          ><%= post.title %></a
        >
      </h3>
      <div class="post-desc">
        <%= sanitizeHtml(post.content, { allowedTags: [], allowedAttributes: {}
        }) %>
      </div>
      <a href="#" class="post-author">
        <div class="post-author-info">
          <time class="post-author-time"
            >Ngày Tạo: <%= moment(post.createAt).format("Do MMMM, YYYY");
            %></time
          >
        </div>
      </a>
    </div>
    <% }); %>
  </div>
  <div><%- include("../views/postNew.ejs") %></div>
</div>
