<div class="post-new">
  <h2 class="heading">Bài Viết Mới Nhất</h2>
  <div class="post-list post-list-new">
    <% posts.forEach(function(post) { %>
    <div class="post-item">
      <a href="/postDetails/<%= post.id %>" class="post-media">
        <img src="<%= post.image %>" alt="" class="post-image" />
      </a>
      <a href="/category/<%- post.categoryId.id %>" class="post-category"
        ><%= post.categoryId.name %></a
      >
      <h3>
        <a href="/postDetails/<%= post.id %>" class="post-title"
          ><%= post.title %></a
        >
      </h3>
      <div class="post-desc"><%= post.contents %></div>
      <a href="#" class="post-author">
        <div class="post-author-info">
          <time class="post-author-time"
            >Ngày Tạo: <%= moment(post.createAt).format("Do MMMM, YYYY");
            %></time
          >
        </div>
      </a>
    </div>
    <% }); %>
    <div class="show-more-btn">
      <button
        type="button"
        class="btn btn-primary"
        id="load-more"
        data-page="2"
      >
        Xem Thêm
      </button>
    </div>
  </div>
</div>
