<div class="post-comment">
  <div class="post-comment__heading">
    <h3>Bình Luận</h3>
  </div>

  <div class="post-comment__form">
    <form data-id="<%-post._id%>">
      <div class="form-group">
        <textarea name="content"></textarea>
      </div>
      <% if (locals.user) { %>
      <div class="form-group">
        <button type="submit">Gửi</button>
      </div>
      <% } else { %>
      <div class="form-group">
        <a href="/login">Đăng nhập để bình luận</a>
      </div>
      <% } %>
    </form>
  </div>
  <div class="post-comment__list">
    <% for (const comment of comments) { %>
    <div class="post-comment__item">
      <div class="post-comment__item__avatar">
        <img src="https://source.unsplash.com/random" alt="" />
      </div>
      <div class="post-comment__item__content">
        <div class="post-comment__item__content__info">
          <h4 class="name"><%= comment.userId[0].username %></h4>
          <time class="date"> <%= moment(comment.createAt).fromNow() %> </time>
        </div>
        <div class="post-comment__item__content__text"><%= comment.content %></div>
        <% if(comment.userId[0]._id == locals?.user?._id) { %>
        <div class="post-comment__action">
          <a href="/postDetails/<%= comment.postId %>/<%=comment.id %>">Xóa</a>
        </div>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</div>
