<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../css/main.css" />
  </head>
  <body>
    <header><%- include('../views/header.ejs') %></header>
    <div class="container">
      <div class="post-header-main">
        <div class="post-item">
          <a href="#" class="post-media">
            <img src="<%= post.image %>" alt="" class="post-image" />
          </a>
          <div>
            <a href="#" class="post-category"><%= post.category %></a>
          </div>
          <h3>
            <a href="#" class="post-title"><%= post.title %></a>
          </h3>
          <a href=" #" class="post-author">
            <time class="post-author-time"
              >Ngày Tạo: <%= moment(post.createAt).format("Do MMMM, YYYY");
              %></time
            >
          </a>
        </div>
      </div>
      <div class="post-details-content">
        <div class="post-content-item">
          <!-- decode content -->
          <%= sanitizeHtml(post.content, { allowedTags: [], allowedAttributes:
          {} }) %>
        </div>
      </div>
      <%- include("../views/postComments.ejs") %>
    </div>

    <a href="#top" class="sroll-to-top">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18"
        />
      </svg>
    </a>
    <footer></footer>
    <script src="../../js/main.js"></script>
  </body>
</html>
