<div class="container">
  <div class="post-header-main">
    <div class="post-item" data-id="<%- post._id %>">
      <a href="#" class="post-media">
        <img src="<%= post.image %>" alt="" class="post-image" />
      </a>
      <div>
        <a href="#" class="post-category"><%= post.categoryId.name %></a>
      </div>
      <h3>
        <a href="#" class="post-title"><%= post.title %></a>
      </h3>
      <a href=" #" class="post-author">
        <time class="post-author-time"
          >Ngày Tạo: <%= moment(post.createAt).format("Do MMMM, YYYY"); %></time
        >
      </a>
    </div>
  </div>
  <div class="post-details-content">
    <div class="post-content-item">
      <!-- decode content -->
      <%= sanitizeHtml(post.content, { allowedTags: [], allowedAttributes: {} })
      %>
    </div>
  </div>
  <%- include("../views/postComments.ejs") %>
</div>

<a href="#top" class="sroll-to-top">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-6 h-6"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18"
    />
  </svg>
</a>
