<%- include('header') %>


<div class="content">
    <div class="section-heading">
        <h2>Thống kê</h2>

    </div>
    <div class="cards">
        <ul>
            <div class="card">
                <div class="card-infor">
                    <span><%= posts %></span>
                    <div class="card-title">Sản Phẩm</div>
                </div>
                <div class="card-image">
                    <i class="fas fa-hand-holding-medical"></i>
                </div>
            </div>
         
            <div class="card">
                <div class="card-infor">
                    <span><%= comments %></span>
                    <div class="card-title">Bình Luận</div>
                </div>
                <div class="card-image">
                    <i class="fa-solid fa-spaghetti-monster-flying"></i>
                </div>
            </div>
            <div class="card">
                <div class="card-infor">
                    <span><%= categories %></span>
                    <div class="card-title">Danh mục</div>
                </div>
                <div class="card-image">
                    <i class="fa-solid fa-people-group"></i>
                </div>
            </div>
            <div class="card">
                <div class="card-infor">
                    <span><%= users %></span>
                    <div class="card-title">Thành viên</div>
                </div>
                <div class="card-image">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
        </ul>
    </div>
</div>
</main>
</body>

</html>