

<%- include('../header') %>


<div class="content">
    <div class="section-heading">
        <h2>Danh sách bài viết</h2>

        <button><a href="/admin/posts/new">Thêm bài viết</a></button>
    </div>
    <div class="filter_posts">
        <form action="?search" class="post-form" method="GET">
            <input class="" value="<%= searchOptions?.title ?? '' %>" name="title" type="text" placeholder="Tên bài viết..." />
            <!-- <select name="categoryId">
                <option value="" >[--Chọn tên danh mục--]</option>
            </select> -->
            <button type="submit" >Lọc</button>
        </form>
    </div>
    <div class="data-listtings">
        <table>

            <tr>
                <th>#</th>
                <th>Ảnh</th>
                <th>Danh mục</th>
                <th>Tên bài viết</th>
                <th>Ngày tạo</th>
                <th colspan="2">Thao tác</th>
            </tr>
                <% posts.map((element,index) => { index = index + 1 %> 
                <tr>
                    <td><%= index %></td>
                    <td><img src="<%= element?.image %>"></td>
                    <td><%= element?.categoryId.name %></td>
                    <td><%= element?.title %></td>
                    <td><%= element.createAt?.toISOString().split('T')[0] %></td>
                    <td>
                        <button type="button" class="btn edit-btn">
                            <a href="/admin/posts/edit/<%= element._id %>"> <i class="fa-regular fa-pen-to-square"></i></a>
                        </button>
                        <form action="/admin/posts?_method=DELETE" method="post">
                            <input type="hidden" name="id" value="<%= element._id %>">
                            <button onclick="return confirm('Bạn có chắc xóa bài viết này')" class="btn delete-btn">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </form>
                    </td>
                </tr> 
                <% }) %>

        </table>
    </div>
</div>
</main>

</body>

</html>